{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <div class="row py-5" ng-app="LivroApp">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>Biblioteca Popular</h2>
        </div>
        <div class="col-12 col-md-8 offset-md-2">
            <div ng-controller="LivroController as LivroList">
                <table class="table table-bordered table-sm table-hover">
                    <thead>
                    <tr class="table-success">
                        <th>#</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="livro in livros">
                        <td>{{ '{{livro.id}}' }}</td>
                        <td>{{ '{{livro.nome}}' }}</td>
                        <td>{{ '{{livro.descricao}}' }}</td>
                        <td>{{ '{{livro.idAutor.nome}}' }}</td>
                        <td>{{ '{{livro.idEditora.nome}}' }}</td>
                        <td><!-- Button trigger modal -->
                            <button
                                type="button"
                                class="btn btn-outline-success"
                                data-toggle="modal"
                                data-target="#livro{{ '{{livro.id}}' }}"
                            >
                                Emprestimo
                            </button>
                            {{ include('AppBundle:Home:modal.html.twig') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
{% endblock %}
