<!-- Modal -->
<div class="modal fade" id="livro{{ '{{livro.id}}' }}" tabindex="-1" role="dialog" aria-labelledby="livro" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ '{{livro.idAutor.nome}}' }} - {{ '{{livro.nome}}' }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ '{{livro.nome}}' }}</p>
                <p>{{ '{{livro.descricao}}' }}</p>
                <p>{{ '{{livro.idAutor.nome}}' }}</p>
                <p>{{ '{{livro.idEditora.nome}}' }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Pegar por Emprestimo</button>
            </div>
        </div>
    </div>
</div>