{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upvote</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ upvote.id }}</td>
            </tr>
            <tr>
                <th>Answerid</th>
                <td>{{ upvote.answerId }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ upvote.userId }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if upvote.createdAt %}{{ upvote.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if upvote.updatedAt %}{{ upvote.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if upvote.deletedAt %}{{ upvote.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('upvotes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('upvotes_edit', { 'id': upvote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
